/* PHáº¦N FOOTER */
#footer {
  position: relative;
  display: inline-flex;
  justify-content: center;
  min-width: 100%;
  margin-top: 5rem;
  color: white;
  // animation: fadeIn ease 2s;
}
.footer--background {
  background-color: black;
  // background-color: $color_opacity;
  // background-image: url(/assets/img/nenpink.jpg);
  width: 100%;
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  /* Tablet */
  padding-right: 50px;
}
.footerbox {
  flex: 0.6 0.2 0.1;
  justify-content: space-around;
}
.footer_box {
  width: 100%;
  margin: auto 2rem;
}
.footer_box--1 {
  display: flex;

  justify-content: space-around;
}
.footer_box--1--content {
}
.footer_box--2 {
  text-align: center;
}
.fontw {
  color: white;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.email_button {
  margin: auto;
  height: 4rem;
  width: 60%;
  border-radius: 0.8rem;
}

