/* Pc */
@media (max-width: 1025px) {
  .navbar__item {
    margin-left: -1rem;
  }
  .footer_box--1--content {
    margin-left: 2rem;
  }
  .footer_box--1 {
    justify-content: flex-start;
  }
  .main-five {
    flex-wrap: nowrap;
  }
  .img-girl--four {
    left: -2rem;
  }
  .aqua_label--label {
    font-size: 1.3rem;
  }
}
@media (min-width: 1010px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1009px) {
}
@media (min-width: 0px) and (max-width: 1009px) {
  .navbar__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    position: relative;
  }
  .header__title {
    margin: 0;
  }
  .header__title {
    p {
      margin-left: 15rem;
      margin-right: 0;
      overflow-wrap: break-word; /* Cú pháp mới */
    }
  }
  .header__background--root {
    margin-left: 0;
  }
  .main-one--vanban,
  .main-one--circle {
    margin: 3rem;
  }
  .book {
    width: 20rem;
    height: 25rem;
  }
  .text {
    font-size: x-small;
  }
  .footer_box--1,
  .footer_box--2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .footer_box {
    width: 100vh;
  }
  .img--box--boy,
  .img--box--child,
  .img--box--girl {
    width: 100%;
    height: auto;
    font-size: x-small;
  }
  .img--box--obj {
    flex-basis: 55%;
  }

  .plan {
    flex-basis: 40%;
    margin: auto;
  }
}
@media screen and (max-width: 1009px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }

  .navbar__menu.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navbar__menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .navbar__menu ul li {
    margin-right: 20px;
  }

  .navbar__menu ul li:last-child {
    margin-right: 0;
  }
}
///
@media screen and (max-width: 860px) {
  .card {
    max-width: 80%;
  }
  .aqua_label--label {
    font-size: 1rem;
  }
  .course,
  .courses-button--threemain,
  .flex-row {
    display: flex;
    justify-content: space-around;
  }
  .header__title p {
    margin-left: 20rem;
    margin-right: 2rem;
  }
  .courses-item,
  .course-item {
    font-size: x-small;
    width: 40%;
  }
  .course-item {
    min-width: 45%;
    font-size: x-small;
    font-family: "Times New Roman", Times, serif;
  }
  .box_moves--4 {
    top: 8.5rem;
    right: -30rem;
  }
  .div10rem {
    display: none;
  }

  .content--four {
    flex-wrap: nowrap;
  }
  .moves {
    display: none;
  }
  .main-five_content {
    width: 100vh;
    height: 235px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .boxtext {
    width: 30%;
  }

  .courses-item button {
    display: none;
  }
  .course-item button {
    display: block;
  }
  .main-six_gird {
    flex-direction: row;
  }
  .main-six_background {
    height: 110rem;
  }
  .img-boy--six {
    width: 55%;
    height: 66%;
    top: 2rem;
    left: 12rem;
  }
}

/* Mobie */
@media screen and (max-width: 740px) {
  .aqua_label--label {
    font-size: 1.2rem;
  }
  .content--four {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .box {
    min-width: 35%;
  }
  .courses-button {
    display: none;
  }
  .title-font {
    font-size: 3rem;
  }
  .course,
  .main-three--courses,
  .main-two--boxtext {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .main-two--boxtext {
    height: 100%;
  }
  .boxtext {
    margin: 1rem;

    width: 40%;
  }

  html {
    /* 1rem=10px */
    font-size: 42.5%;
  }
  .footer_box {
    width: 85vh;
  }
  .under-header--border {
    padding: 1rem 0 0 0;
    line-height: 15.5px;
  }
  .courses-item {
    min-width: 45%;
    font-size: 1.5rem;
  }
  .course-item {
    min-width: 30%;
    height: min-content;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 620px) {
  .footer_box,
  .footer_box--2 {
    width: 70vh;
  }
  .under-header--border {
    line-height: 20.5px;
  }
}
@media screen and (max-width: 440px) {
  .courses-item {
    min-width: 88%;
  }
  .footer_box {
    width: 30vh;
  }
  .div10rem {
    display: block;
  }
  .navbar__menu.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar__menu {
    position: absolute;
    top: 200%;
    left: 0;
    display: none;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }
  .header__icon .icon--code {
    font-size: 3rem;
    padding: 1rem;
  }
  .main-five {
    flex-direction: column;
  }
  .footer_box--2 {
    justify-content: left;
    width: 35vh;
  }
  .main-one--vanban,
  .main-one--circle {
    width: 100vh;
    height: 30vh;
  }
  .email_button {
    width: 40vh;
  }
}
