#header {
  display: inline-block;
  justify-content: center;
  min-width: 100%;
  min-height: 70rem;
}
.header__background {
  position: relative;
  min-width: fit-content;
  min-height: 70rem;
}
.header__background--root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60rem;
  background-image: url(/assets/img/nenpink.jpg);
  opacity: 0.5;
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  clip-path: polygon(100.2% 47.8%, 0% 0%, 100% 100%, 0% 100%);
}
.header__background--main {
  background-image: url(/assets/img/snapedit_girl.png);
  image-rendering: pixelated;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
  height: 60rem;
}
.navbar {
  justify-content: space-around;
}
.navbar__item {
  margin: auto;
}
.title {
  text-align: center;
  margin: auto 5rem;
}
.header__gird {
  margin: 0rem 5rem 2rem 50rem;
  justify-content: space-between;
}
.title--span {
  text-align: center;
}
.item {
  margin: auto 2rem;
}
