/* Đặt biến phụ toàn cục*/
@import "variables";
@import "base";
@import "header";
@import "main-three";
@import "main-four";
@import "other";
@import "main";
@import "footer";
@import "form";
@import "course";
@import "courses";
@import "blog";

@import "base_after";
@import "responsive";
.icon_button {
  font-size: 5rem;
  text-align: center;
}
.navbar li a:hover {
  color: black;
  opacity: 1;
  margin-top: 6px;
  visibility: visible;
  text-decoration: underline;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.course-td-item:hover {
  color: $color_other;
  cursor: pointer;
}
