@charset "UTF-8";
/* Đặt biến phụ toàn cục*/
* {
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: inherit;
  font-size: medium;
  outline: none;
}

html {
  /* 1rem=10px */
  font-size: 62.5%;
  /* độ cao khoảng cách các dòng chữ */
  line-height: normal;
  /* font chữ  */
  font-family: "Pacifico", cursive;
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.title-font {
  font-family: "Roboto", sans-serif;
  font-weight: 40rem;
  font-style: normal;
  line-height: normal;
  font-size: 5rem;
  color: rgb(219, 112, 147);
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* nền móng cho responsive */
.gird {
  /* nếu kichthuoc be hơn 1200px tự điều chỉnh */
  max-width: 95%;
  /* căn giữa */
  margin: 0 auto;
  justify-content: center;
}

.gird__full-width {
  width: 90%;
  margin: 0 auto;
}

.gird__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: center;
}

.gird__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.background--main {
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/nenpink.jpg);
}

.top {
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  margin: 2rem auto;
  overflow-wrap: break-word;
}

.icon_main {
  color: rgb(219, 112, 147);
  margin: auto 0rem auto 0px;
}

.icon_space {
  margin: auto 0.5rem;
}

.button {
  color: rgb(219, 112, 147);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: rgba(255, 255, 255, 0.612);
  transition: 0.2s;
}

.button:hover {
  color: white;
  transform: translate(-0.25rem, -0.25rem);
  background: rgb(255, 182, 193);
  box-shadow: 0.25rem 0.25rem rgba(255, 255, 255, 0.612);
}

.button:active {
  transform: translate(0.2);
  box-shadow: none;
}

.div10rem {
  height: 10rem;
}

#header {
  display: inline-block;
  justify-content: center;
  width: 100%;
}

.header__background {
  position: relative;
}

.header__background--main {
  width: 100%;
  height: 40rem;
  opacity: 0.5;
  image-rendering: pixelated;
  background: url(/assets/img/nenpink.jpg) no-repeat center/cover;
  -webkit-clip-path: path("M0,250 Q60,10 100,40 T200,180 T300,180 T400,170 T500,130 T600,40 T700,85 T800,30 T900,77 T1000,38 T1100,207 T1200,140 T1300,777 V500 H0 Z");
          clip-path: path("M0,250 Q60,10 100,40 T200,180 T300,180 T400,170 T500,130 T600,40 T700,85 T800,30 T900,77 T1000,38 T1100,207 T1200,140 T1300,777 V500 H0 Z");
}

.header__background--root {
  background-image: url(/assets/img/snapedit_girl.png);
  image-rendering: pixelated;
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin: 9.4rem 5rem 0rem;
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 10rem;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: background-color 0.3s;
}

.navbar:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.navbar__item {
  height: 100%;
  margin: 0 auto;
}
.navbar__item .header__a__item {
  color: rgb(219, 112, 147);
}

.navbar__item--logo {
  margin: o auto;
}

.header__title {
  text-align: center;
  margin: auto 5rem auto 10rem;
}

.header__gird {
  justify-content: space-between;
}

.title--span {
  text-align: center;
  margin: auto 8rem auto 16rem;
}

.item {
  margin: auto 1.2rem;
}

.header__box-img {
  justify-content: center;
}

.logo {
  width: 10rem;
}

.navbar__hamburger {
  display: none;
}

.navbar__menu.active {
  display: block;
  flex-direction: row; /* Hiển thị các mục menu ngang khi có class active */
  justify-content: flex-end;
}

.courses-item {
  width: 30%;
  padding: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
  border-radius: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.courses-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  padding: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.course-table-item {
  width: 100%;
  margin: 1rem;
}

.course-td-item {
  font-size: large;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.star-people {
  width: 15px;
  height: 15px;
}

.course-money-item {
  text-align: center;
  font-size: large;
  color: #f77e23;
}

.content--four {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.box {
  flex: 1;
  width: 30%;
  margin: 1rem;
  text-align: left;
}

.students {
  margin-bottom: 0%;
}

.moves--ten {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left--ten,
.right--ten {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  border: 1px solid #f77e23;
  background-color: var(--color_while);
  margin: 1rem;
}

.shadow {
  height: 30rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.aqua {
  display: flex;
  margin: 2rem;
}

.aqua_label--label {
  margin: 0 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.aqua_img--one {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: right;
  background-image: url(/assets/img/bucgiang.jpg);
  border-radius: 50%;
}

.aqua_img--two {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-image: url(/assets/img/anhanhtho.png);
  border-radius: 50%;
}

#wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.under-header--border {
  background-color: rgba(225, 232, 237, 0.5764705882);
  border: 1 solid rgba(225, 232, 237, 0.5764705882);
  border-radius: 1rem;
  height: 20rem;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
}

.header__icon {
  justify-content: space-around;
  display: flex;
}
.header__icon .icon--code {
  font-size: 5rem;
  padding: 2rem;
}

.main-one--vanban,
.main-one--circle {
  width: 40%;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 23rem;
  height: 30rem;
  background-color: linear-gradient(90deg, #feadb9, #487ba6);
  box-shadow: 1px 1px 12px #000;
  align-items: center;
  perspective: 2000px;
  display: flex;
  justify-content: center;
}

.cover {
  top: 0;
  position: absolute;
  background-color: rgb(255, 182, 193);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-80deg);
}

.book .text {
  text-align: right;
  margin: 2rem 2rem 2rem 4rem;
}

.main-two--boxtext {
  justify-content: space-between;
}

.boxtext {
  margin: 2rem 0;
}

.checkbox .tgl {
  display: none;
  text-align: center;
}

.checkbox .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 57px;
  height: 27px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.checkbox .tgl + .tgl-btn:after,
.checkbox .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}

.checkbox .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 7px;
}

.checkbox .tgl:checked + .tgl-btn:after {
  left: 56.5%;
}

.checkbox .tgl + .tgl-btn {
  background: #fff;
  border-radius: 1rem;
  padding: 2px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.checkbox .tgl + .tgl-btn:after {
  border-radius: 2rem;
  background: rgb(255, 182, 193);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox .tgl + .tgl-btn:before {
  content: "EN";
  left: 28px;
  color: #000;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox .tgl:checked + .tgl-btn {
  background: rgb(255, 182, 193);
}

.checkbox .tgl:checked + .tgl-btn:before {
  content: "VI";
  left: 4px;
  color: #fff;
}

/* ------------------------------- */
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: rgba(246, 230, 236, 0.7921568627);
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 182, 193);
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1fcac5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: rgb(219, 112, 147);
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover,
.plan .button:focus {
  background-color: #4133b7;
}

/* ---------------------- */
.main-five {
  margin: 3rem auto;
}

.img--box {
  margin: 1rem;
  background-image: url(/assets/img/nenpink.jpg);
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.img--box--obj {
  flex-basis: 65%;
}

.plan {
  flex-basis: 35%;
}

/* PHẦN FOOTER */
#footer {
  position: relative;
  display: inline-flex;
  justify-content: center;
  min-width: 100%;
  margin-top: 5rem;
  color: white;
}

.footer--background {
  background-color: black;
  width: 100%;
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  /* Tablet */
  padding-right: 50px;
}

.footerbox {
  flex: 0.6 0.2 0.1;
  justify-content: space-around;
}

.footer_box {
  width: 100%;
  margin: auto 2rem;
}

.footer_box--1 {
  display: flex;
  justify-content: space-around;
}

.footer_box--2 {
  text-align: center;
}

.fontw {
  color: white;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.email_button {
  margin: auto;
  height: 4rem;
  width: 60%;
  border-radius: 0.8rem;
}

.modal,
.modal--blog {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 2;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body,
.modal__body--blog {
  display: flex;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  z-index: 10;
  border-radius: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.button--circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.form__btn_exit {
  text-align: right;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: rgb(219, 112, 147);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

.main-course {
  flex-basis: 55%;
}

.sirbar-course {
  flex-basis: 45%;
}

ul.sirbar-course__list li {
  width: 98%;
  list-style-type: none;
  border-radius: 0.5rem;
  text-align: left;
  margin: 0 0.2rem;
  padding: 1rem 0rem;
}

.gird__course {
  justify-content: flex-start;
}

.text-course {
  margin: 0 1rem;
  text-align: left;
}

.text-course--root {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.video {
  width: 100%;
  height: 35rem;
  position: relative;
}

.video::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.569);
  z-index: 1;
}

.play {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
}

#scroll {
  width: 100%;
  height: 50rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem 0;
}

.text-course--hidden {
  display: none;
}

.text-course--hidden.active {
  display: block;
}

/* PHẦN MAIN-CONTAIN */
.gird--center {
  display: flex;
  position: relative;
}

.endline {
  justify-items: flex-end;
  color: rgb(219, 112, 147);
  text-align: right;
  margin-right: 2.5rem;
}

.label {
  position: absolute;
  top: 1rem;
  font-size: larger;
}

.right {
  float: right;
  margin-right: 3.5rem;
}

.left {
  float: left;
  margin-left: 3.5rem;
}

div.label {
  color: #ffffff;
  padding: 10px;
  float: left;
  margin-top: 300px;
}

.moves {
  min-width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.box_moves {
  position: absolute;
  background-color: white;
  width: 148px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 0px 0px 69.23px 0px rgba(112, 112, 112, 0.2509803922);
  display: flex;
  /* margin: 0 auto; */
}

.boxmoves {
  justify-content: center;
  margin: 0 auto;
  line-height: 1.5rem;
  text-align: center;
}

.box_moves--4 {
  top: 8rem;
  left: -7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.box_moves--6 {
  top: 15rem;
  left: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.moves--ten {
  justify-content: left;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN THỨ BA */
.main-three {
  display: block;
}

img.course-img-item {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.course {
  display: flex;
  margin: 0 2.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-item {
  flex-basis: 30%;
  margin: 10px 5px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.course-table-item {
  width: 100%;
  margin: 0.5rem;
}

.course-td-item {
  font-size: large;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.star-people {
  width: 15px;
  height: 15px;
}

.course-money-item {
  text-align: center;
  font-size: large;
  color: rgb(219, 112, 147);
}

button.down {
  color: #ffffff;
  background-color: rgb(219, 112, 147);
  border-radius: 100px 100px 100px 100px;
  border: 0;
  width: 7.5rem;
  height: 2rem;
  margin: 1rem;
  text-align: center;
}

.course-item button {
  display: none;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-FOUR */
.main-four {
  padding: 7rem 0;
  margin: 7rem 0;
  background-image: linear-gradient(30deg, rgba(231, 144, 202, 0.7), #ffffff);
}

.main-four_content2 {
  flex-basis: 45%;
  position: relative;
  text-align: right;
}

.main-four_content1 {
  flex-basis: 45%;
  text-align: left;
}

.border_dashed--four {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border-style: dashed;
  color: rgb(219, 112, 147);
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
}

.img-girl--four {
  width: 100%;
  height: 100%;
  top: -5rem;
  left: -5rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/assets/img/robot.png);
  background-size: contain;
  background-position: center top;
  transform: scaleX(-1);
  border-end-end-radius: 102%;
  border-end-start-radius: 162%;
  border-start-start-radius: 15%;
  background-repeat: no-repeat;
  position: absolute;
}

.examination {
  font-family: Verdana;
  font-size: 40px;
}

button.test {
  width: 157px;
  height: 60px;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(219, 112, 147);
  border: 0;
}

div.test {
  margin: 3rem 0;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-FIVE */
.main-five {
  margin: 3rem auto;
}

.main-five_content {
  height: 235px;
  margin: 0px 50px 0px 50px;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.top--five {
  text-align: center;
}

.img-five {
  width: 225px;
  height: 230px;
  border-radius: 5px;
}

.content-five {
  align-items: flex-start;
  position: relative;
}

.label--five {
  position: absolute;
  top: 0rem;
}

.seeall--five {
  color: rgb(219, 112, 147);
  padding: 10px;
  padding-right: 45px;
  float: right;
}

.left1--five,
.right1--five {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border: 1 solid rgb(219, 112, 147);
}

.moves--five {
  position: absolute;
  top: 7rem;
}

.right--five {
  float: right;
  right: 0;
}

.left--five {
  float: left;
  left: 0;
}

.img-five::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 225px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.569);
  /*Màu đen với độ mờ 50%*/
}

.img-five--1 {
  background-image: url(/assets/img/NetBeans.jpg);
  background-position: center;
  background-size: cover;
}

.img-five--2 {
  background-image: url(/assets/img/Visual.jpg);
  background-position: center;
  background-size: cover;
}

.img-five--3 {
  background-image: url(/assets/img/IntelliJ.jpg);
  background-position: center;
  background-size: cover;
}

.img-five--4 {
  background-image: url(/assets/img/UI.jpg);
  background-position: center;
  background-size: cover;
}

div.label--five {
  color: #ffffff;
  padding: 10px;
  float: left;
  margin-top: 15rem;
}

/* phần main five */
.img-five:hover.img-five::after {
  display: none;
}

/* ----------------------------------------------------------------------------------------------- */
/* PHẦN MAIN-SIx */
.main-six {
  padding: 5rem 0;
  margin: 5rem 0;
}

.main-six_background {
  background-image: linear-gradient(30deg, rgba(231, 144, 202, 0.7), #ffffff);
  display: flex;
  flex-direction: row-reverse;
}

.main-six_content1 {
  flex-basis: 50%;
  text-align: right;
  padding: 50px 10px 50px 50px;
  position: relative;
}

.main-six_content2 {
  flex-basis: 50%;
  text-align: left;
  margin-left: 10rem;
}

.border_dashed--six {
  width: 358px;
  height: 358px;
  border-radius: 5389805px;
  border: 3.38px 0px 0px 0px;
  border-style: dashed;
  color: rgb(219, 112, 147);
  text-align: center;
}

.img-boy--six {
  width: 100%;
  height: 100%;
  top: -10rem;
  left: 0rem;
  gap: 0px;
  opacity: 0px;
  background-image: url(/assets/img/robot2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

/* FORM main6*/
form.form--six {
  margin: 0 5px 5px;
  background-color: #ffffff;
  padding: 2rem 3rem 4rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 30px 20px;
}

.input {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.information {
  margin: 1rem 0;
  background-color: rgb(241, 239, 239);
  height: 2.5rem;
  min-width: 100%;
  border-radius: 5px;
  border: 1px solid gray;
}

.button--six {
  background-color: var(--color_main);
  color: var(--color_while);
  height: 2rem;
  width: 7rem;
  border-radius: 5px;
  border: 0;
}

div.button--six {
  margin: 0 0;
  float: right;
}

/* -------------------------------------------------------- */
.card {
  position: relative;
  background-color: #30344c;
  padding: 1em;
  z-index: 1;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  max-width: 60%;
  transition: 200ms ease-in-out;
  margin: 2rem auto;
}

.username {
  color: #c0e4f4;
  font-size: 0.85em;
  font-weight: 600;
}

.body {
  display: flex;
  flex-direction: column;
}

.body .tex {
  margin: 0 10px 0 0;
  white-space: pre-line;
  color: #e1e5ff;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

.foot {
  position: relative;
  width: 100%;
  color: #cad3df;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  margin-top: 10px;
}

.foot div {
  margin-right: 1rem;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.foot img {
  margin-right: 5px;
  height: 100%;
  stroke: #9fa4aa;
}

.viewer span {
  height: 20px;
  width: 20px;
  background-color: rgb(28, 117, 219);
  margin-right: -6px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: grid;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  color: #fff;
  padding: 2px;
}

.viewer span img {
  stroke: #fff;
}

.add__blog {
  border-radius: 50%;
  border: 2px solid #000; /* Replace with $color_other if using a preprocessor */
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 10;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.modal--blog {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 100; /* Ensure it is above other elements */
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Overlay effect */
}

.modal__body--blog {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Max width of the modal */
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form--blog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.form--blog .title--blog {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  text-align: center;
}

.form--blog input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
}

.form--blog textarea {
  border-radius: 8px;
  height: 12rem;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form--blog button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

.courses-button__circle {
  width: 10rem;
  height: 10rem;
  border: 0.2rem solid rgb(219, 112, 147);
  border-radius: 50%;
  text-align: center;
}

.courses-button {
  text-align: center;
  box-shadow: white 0px 0px 0px 0px;
  margin: auto 0;
}

.courses-button--threemain {
  display: none;
}

/* Pc */
@media (max-width: 1025px) {
  .navbar__item {
    margin-left: -1rem;
  }
  .footer_box--1--content {
    margin-left: 2rem;
  }
  .footer_box--1 {
    justify-content: flex-start;
  }
  .main-five {
    flex-wrap: nowrap;
  }
  .img-girl--four {
    left: -2rem;
  }
  .aqua_label--label {
    font-size: 1.3rem;
  }
}
/* Tablet */
@media (min-width: 0px) and (max-width: 1009px) {
  .navbar__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    position: relative;
  }
  .header__title {
    margin: 0;
  }
  .header__title p {
    margin-left: 15rem;
    margin-right: 0;
    overflow-wrap: break-word; /* Cú pháp mới */
  }
  .header__background--root {
    margin-left: 0;
  }
  .main-one--vanban,
  .main-one--circle {
    margin: 3rem;
  }
  .book {
    width: 20rem;
    height: 25rem;
  }
  .text {
    font-size: x-small;
  }
  .footer_box--1,
  .footer_box--2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .footer_box {
    width: 100vh;
  }
  .img--box--boy,
  .img--box--child,
  .img--box--girl {
    width: 100%;
    height: auto;
    font-size: x-small;
  }
  .img--box--obj {
    flex-basis: 55%;
  }
  .plan {
    flex-basis: 40%;
    margin: auto;
  }
}
@media screen and (max-width: 1009px) {
  .navbar__menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }
  .navbar__menu.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar__menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .navbar__menu ul li {
    margin-right: 20px;
  }
  .navbar__menu ul li:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 860px) {
  .content-five {
    margin-right: 1.5rem;
  }
  .card {
    max-width: 80%;
  }
  .aqua_label--label {
    font-size: 1rem;
  }
  .course,
  .courses-button--threemain,
  .flex-row {
    display: flex;
    justify-content: space-around;
  }
  .header__title p {
    margin-left: 20rem;
    margin-right: 2rem;
  }
  .courses-item,
  .course-item {
    font-size: x-small;
    width: 40%;
  }
  .course-item {
    min-width: 45%;
    font-size: x-small;
    font-family: "Times New Roman", Times, serif;
  }
  .box_moves--4 {
    top: 8.5rem;
    right: -30rem;
  }
  .div10rem {
    display: none;
  }
  .content--four {
    flex-wrap: nowrap;
  }
  .moves {
    display: none;
  }
  .main-five_content {
    width: 100vh;
    height: 235px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .boxtext {
    width: 30%;
  }
  .courses-item button {
    display: none;
  }
  .course-item button {
    display: block;
  }
  .main-six_gird {
    flex-direction: row;
  }
  .main-six_background {
    height: 110rem;
  }
  .img-boy--six {
    width: 55%;
    height: 66%;
    top: 2rem;
    left: 12rem;
  }
}
/* Mobie */
@media screen and (max-width: 740px) {
  .aqua_label--label {
    font-size: 1.2rem;
  }
  .content--four {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .box {
    min-width: 35%;
  }
  .courses-button {
    display: none;
  }
  .title-font {
    font-size: 3rem;
  }
  .course,
  .main-three--courses,
  .main-two--boxtext {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .main-two--boxtext {
    height: 100%;
  }
  .boxtext {
    margin: 1rem;
    width: 40%;
  }
  html {
    /* 1rem=10px */
    font-size: 42.5%;
  }
  .footer_box {
    width: 85vh;
  }
  .under-header--border {
    padding: 1rem 0 0 0;
    line-height: 15.5px;
  }
  .courses-item {
    min-width: 45%;
    font-size: 1.5rem;
  }
  .course-item {
    min-width: 30%;
    height: -moz-min-content;
    height: min-content;
    font-size: 1.5rem;
  }
  .main-six_background {
    height: 180rem;
  }
}
@media screen and (max-width: 620px) {
  .footer_box,
  .footer_box--2 {
    width: 70vh;
  }
  .under-header--border {
    line-height: 20.5px;
  }
  .box {
    min-width: 45%;
  }
}
@media screen and (max-width: 440px) {
  .box {
    min-width: 55%;
  }
  .courses-item {
    min-width: 88%;
  }
  .footer_box {
    width: 30vh;
  }
  .div10rem {
    display: block;
  }
  .navbar__menu.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navbar__menu {
    position: absolute;
    top: 200%;
    left: 0;
    display: none;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }
  .header__icon .icon--code {
    font-size: 3rem;
    padding: 1rem;
  }
  .main-five {
    flex-direction: column;
  }
  .footer_box--2 {
    justify-content: left;
    width: 35vh;
  }
  .main-one--vanban,
  .main-one--circle {
    width: 100vh;
    height: 30vh;
  }
  .email_button {
    width: 40vh;
  }
}
.icon_button {
  font-size: 5rem;
  text-align: center;
}

.navbar li a:hover {
  color: black;
  opacity: 1;
  margin-top: 6px;
  visibility: visible;
  text-decoration: underline;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.course-td-item:hover {
  color: rgb(219, 112, 147);
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */