$color_main: rgb(255, 182, 193);
$color_other: rgb(219, 112, 147);
$color_main_opacity: rgba(255, 255, 255, 0.612);
$color_opacity: linear-gradient(
  90deg,
  rgba(255, 182, 193, 0.9),
  rgba(255, 255, 255, 0.9)
);
$color_passion: linear-gradient(90deg, #feadb9, #487ba6);
$color-gray-200: #e1e8ed93;
