/* Đặt biến phụ toàn cục*/
@import "variables";
@import "base";
@import "header";
@import "other";
@import "footer";
#wrapper {
  display: inline-block;
  position: relative;
}
.main-one--vanban,
.main-one--circle {
  width: 45%;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 2rem;
}
.book {
  position: relative;
  border-radius: 10px;
  width: 25rem;
  height: 30rem;
  background-color: $color_passion;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  align-items: center;
  perspective: 2000px;
  display: flex;
  justify-content: center;
}

.cover {
  top: 0;
  position: absolute;
  background-color: $color_main;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-80deg);
}
.text {
  text-align: right;
  margin: 2rem 2rem 2rem 4rem;
}
.main-two--boxtext {
  justify-content: space-between;
}
.boxtext {
  margin: 2rem 0;
}

.checkbox {
  $blue: $color_main;
  $g08: #e1e5eb;
  $g04: #848ea1;
}

.checkbox .tgl {
  display: none;
  text-align: center;
}
.checkbox .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 57px;
  height: 27px;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}
.checkbox .tgl + .tgl-btn:after,
.checkbox .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}
.checkbox .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 7px;
}
.checkbox .tgl:checked + .tgl-btn:after {
  left: 56.5%;
}
.checkbox .tgl + .tgl-btn {
  background: #fff;
  border-radius: 1rem;
  padding: 2px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
.checkbox .tgl + .tgl-btn:after {
  border-radius: 2rem;
  background: $color_main;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.checkbox .tgl + .tgl-btn:before {
  content: "EN";
  left: 28px;
  color: #000;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbox .tgl:checked + .tgl-btn {
  background: $color_main;
}
.checkbox .tgl:checked + .tgl-btn:before {
  content: "VI";
  left: 4px;
  color: #fff;
}
/* ------------------------------- */
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1fcac5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #6558d3;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover,
.plan .button:focus {
  background-color: #4133b7;
}
/* ---------------------- */
.main-five {
  flex: 0.7 0.3;
}
.img--box {
  margin: 1rem;
  background-image: url(/assets/img/nenpink.jpg);
  height: 10rem;
  width: 70rem;
  border-radius: 1rem;
}
