@charset "UTF-8";
/* Đặt biến phụ toàn cục*/
* {
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: inherit;
  font-size: medium;
  outline: none;
}

html {
  /* 1rem=10px */
  font-size: 62.5%;
  /* độ cao khoảng cách các dòng chữ */
  line-height: normal;
  /* font chữ  */
  font-family: "Pacifico", cursive;
  /* khi padding,... không bị thay đổi kích thước */
  box-sizing: border-box;
  min-width: 100%;
}

.title-font {
  font-family: "Roboto", sans-serif;
  font-weight: 40rem;
  font-style: normal;
  line-height: normal;
  font-size: 5rem;
  color: rgb(219, 112, 147);
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* nền móng cho responsive */
.gird {
  /* nếu kichthuoc be hơn 1200px tự điều chỉnh */
  width: 1100px;
  max-width: 100%;
  /* căn giữa */
  margin: 0 auto;
}

.gird__full-width {
  width: 90%;
  margin: 0 auto;
}

.gird__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: center;
}

.gird__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.background--main {
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/nenpink.jpg);
}

.top {
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  margin: 2rem auto;
}

.icon_main {
  color: rgb(219, 112, 147);
}

.button {
  color: rgb(219, 112, 147);
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: rgba(255, 255, 255, 0.612);
  transition: 0.2s;
}

.button:hover {
  color: white;
  transform: translate(-0.25rem, -0.25rem);
  background: rgb(255, 182, 193);
  box-shadow: 0.25rem 0.25rem rgba(255, 255, 255, 0.612);
}

.button:active {
  transform: translate(0.2);
  box-shadow: none;
}

#header {
  display: inline-block;
  justify-content: center;
}

.header__background {
  position: relative;
}

.header__background--main {
  width: 100%;
  height: 40rem;
  opacity: 0.5;
  image-rendering: pixelated;
  background: url(/assets/img/nenpink.jpg) no-repeat center/cover;
  -webkit-clip-path: path("M0,250 Q60,10 100,40 T200,180 T300,180 T400,170 T500,130 T600,40 T700,85 T800,30 T900,77 T1000,38 T1100,207 T1200,140 T1300,777 V500 H0 Z");
          clip-path: path("M0,250 Q60,10 100,40 T200,180 T300,180 T400,170 T500,130 T600,40 T700,85 T800,30 T900,77 T1000,38 T1100,207 T1200,140 T1300,777 V500 H0 Z");
}

.header__background--root {
  background-image: url(/assets/img/snapedit_girl.png);
  image-rendering: pixelated;
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin: 9.4rem 5rem 0rem;
  width: 100%;
  height: 100%;
}

.navbar {
  height: 10rem;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s;
}

.navbar:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.navbar__item {
  height: 100%;
  margin: 0 auto;
}
.navbar__item .header__a__item {
  color: rgb(219, 112, 147);
}

.navbar__item--logo {
  margin: o auto;
}

.header__title {
  text-align: center;
  margin: auto 0rem auto 10rem;
}

.header__gird {
  justify-content: space-between;
}

.title--span {
  text-align: center;
  margin: auto 8rem auto 16rem;
}

.item {
  margin: auto 2rem;
}

.header__box-img {
  justify-content: center;
}

.logo {
  width: 10rem;
}

.content--four {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.box {
  flex: 1;
  margin: 1rem;
  text-align: left;
}

.students {
  margin-bottom: 0%;
}

.moves--ten {
  justify-content: left;
}

.left--ten,
.right--ten {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid #f77e23;
  background-color: var(--color_while);
  margin: 1rem;
}

.shadow {
  height: 30rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.aqua {
  display: flex;
  margin: 2rem;
}

.aqua_label--label {
  margin: 0 1rem;
  text-align: left;
}

.aqua_img--one {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: right;
  background-image: url(/assets/img/bucgiang.jpg);
  border-radius: 50%;
}

.aqua_img--two {
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-image: url(/assets/img/anhanhtho.png);
  border-radius: 50%;
}

.footer--background {
  background-color: linear-gradient(90deg, rgba(255, 182, 193, 0.9), rgba(255, 255, 255, 0.9));
  height: 40rem;
}

#wrapper {
  display: inline-block;
  position: relative;
}

.under-header--border {
  background-color: rgba(225, 232, 237, 0.5764705882);
  border: 1 solid rgba(225, 232, 237, 0.5764705882);
  border-radius: 1rem;
  height: 20rem;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
}

.header__icon {
  justify-content: space-around;
  display: flex;
}
.header__icon .icon--code {
  font-size: 5rem;
  padding: 2rem;
}

.main-one--vanban,
.main-one--circle {
  width: 45%;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin: 2rem;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 25rem;
  height: 30rem;
  background-color: linear-gradient(90deg, #feadb9, #487ba6);
  box-shadow: 1px 1px 12px #000;
  align-items: center;
  perspective: 2000px;
  display: flex;
  justify-content: center;
}

.cover {
  top: 0;
  position: absolute;
  background-color: rgb(255, 182, 193);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  transition: all 0.5s;
  transform: rotatey(-80deg);
}

.book .text {
  text-align: right;
  margin: 2rem 2rem 2rem 4rem;
}

.main-two--boxtext {
  justify-content: space-between;
}

.boxtext {
  margin: 2rem 0;
}

.checkbox .tgl {
  display: none;
  text-align: center;
}

.checkbox .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 57px;
  height: 27px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.checkbox .tgl + .tgl-btn:after,
.checkbox .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 44%;
  height: 100%;
}

.checkbox .tgl + .tgl-btn:before {
  display: inline;
  position: absolute;
  top: 7px;
}

.checkbox .tgl:checked + .tgl-btn:after {
  left: 56.5%;
}

.checkbox .tgl + .tgl-btn {
  background: #fff;
  border-radius: 1rem;
  padding: 2px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.checkbox .tgl + .tgl-btn:after {
  border-radius: 2rem;
  background: rgb(255, 182, 193);
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox .tgl + .tgl-btn:before {
  content: "EN";
  left: 28px;
  color: #000;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox .tgl:checked + .tgl-btn {
  background: rgb(255, 182, 193);
}

.checkbox .tgl:checked + .tgl-btn:before {
  content: "VI";
  left: 4px;
  color: #fff;
}

/* ------------------------------- */
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1fcac5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: #6558d3;
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover,
.plan .button:focus {
  background-color: #4133b7;
}

/* ---------------------- */
.main-five {
  flex: 0.7 0.3;
}

.img--box {
  margin: 1rem;
  background-image: url(/assets/img/nenpink.jpg);
  height: 10rem;
  width: 70rem;
  border-radius: 1rem;
}/*# sourceMappingURL=index.css.map */